/* Import the desired fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

/* Base Styling */
body {
    font-family: 'Lato', sans-serif;
    background-color: #F7FAFC;  /* Soft Blue */
    margin: 0;
    padding: 20px;
    color: #2C3E50;  /* Dark Blue */
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    background-color: #ECF0F1;  /* Soft Gray */
    border-radius: 15px;  /* Rounded corners */
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.viz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #EAEDED;  /* Lighter Gray */
    padding: 20px;
    border-radius: 15px;  /* Added rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Added shadow */
}

#choropleth_map, #homework10 {
    width: 100%;
    margin: 10px 0;
    height: auto;
    border: 1px solid #D5DBDB;  /* Border Color */
    border-radius: 15px;  /* Rounded corners */
    padding: 20px;
}


