body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.viz-wrapper {
    display: flex;
    flex-direction: column;  /* Stack visualizations vertically */
    align-items: center;     /* Align items to the center */
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#choropleth_map, #homework10 {
    width: 100%; /* Take full width of the parent container */
    margin: 10px 0;  /* Add vertical spacing between visualizations */
    height: auto;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
}
